@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en Contacto.</h1>
<p>Te responderé lo más pronto posible.</p>
<div><a asp-action="Index"asp-controller="Home">Volver a Home</a></div>